extends ../layout

block content
  h2 Lista de Enfermeros

  div(style="display: flex; gap: 10px; margin-bottom: 15px;")
    button.btn(style="margin-right: 10px;") Editar
    button.btn(style="margin-right: 10px;") Eliminar

  form#eliminarForm(action="/enfermeros/eliminar-multiple", method="POST")
    table
      thead
        tr
          th
            input(type="checkbox", onclick="toggleAll(this)")
          th ID
          th Nombre
          th Apellido
          th Turno
      tbody
        each enfermero in enfermeros
          tr
            td
              input(type="checkbox", name="seleccionados", value=enfermero.id_enfermero)
            td= enfermero.id_enfermero
            td
              a(href=`/enfermeros/editar/${enfermero.id_enfermero}`) #{enfermero.nombre}
            td= enfermero.apellido
            td= enfermero.turno

  script.
    function toggleAll(source) {
      const checkboxes = document.getElementsByName('seleccionados');
      for (let i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
