extends ../layout

block content
  h2 Buscar Evaluaciones por Paciente

  form(method="POST")
    select(name="id_paciente", required)
      option(value="") Seleccione un paciente
      each p in pacientes
        option(value=p.id_paciente)= `${p.nombre} ${p.apellido}`
    button(type="submit") Buscar

  if evaluaciones
    table
      thead
        tr
          th Paciente
          th Fecha
          th Temperatura
          th Presión Arterial
          th Frecuencia Cardíaca
          th Síntomas
      tbody
        each e in evaluaciones
          tr
            td= `${e.nombre_paciente} ${e.apellido_paciente}`
            td= new Date(e.fecha).toLocaleDateString('es-AR')
            td= e.temperatura
            td= e.presion_arterial
            td= e.frecuencia_cardiaca
            td= e.sintomas
